body{
    background: white;
    font-family: sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: Oxygen;
}

h1{
    font-size: 22px;
    color: #612674;
}

h2{
    color: #a87bb7;
    line-height: 1.5;
    font-size: 1em;
}

h3{
    font-size: 20px;
    color: #652e78;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.link-button-padrao{
    background-color: #58c4c4;
    color: white;
    border-radius: 10px;
    padding: 15px 29px ;
}

.link-button-padrao:hover{
    background-color: #37a0a0;;
}

.main-principal-section-h2{
    margin-bottom: 2em;
}

.header-principal{
    position: relative;
    width: 100%;
    height: 315px;
}

.header-principal-nav{
    width: 100%;
    background-color: #612674;
    text-align: center;
    position: absolute;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    top:26%;
}

.header-principal-nav a{
    color: white;
    padding: 1em;
    display: block;
}

.icons{
    color: #7c3792;
    font-size: 4em;
}

.header-principal-nav a:hover{
    background-color: #7c3792;
}

.header-principal-img{
    position: absolute;
    top: 0;
    right: 24%;
}

.section-top-img-780px{
    width: 10px;
    height: 10px;
    display: none;
}

.main-principal-section{
    text-align: center;
    padding: 2em;
}

.main-principal-section-h3-spacing{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.section-top{
    position: relative;
    line-height: 1.5;
    background-color: #f6f6f6;
}

.section-02{
    color: #222;
    line-height: 1.5;
    background-color: #f6f6f6;
}

.section-02-title{
    text-transform: uppercase;
}

.section-03{
    text-align: left;
    line-height: 1.2em;
}

.article-section-03{
    margin-bottom: 5em;
}

.article-07-p, .article-08-p{
    margin-bottom: 2em;
}

.footer{
    text-align: center;
    height: 195px;
    background-color: #25303e;
    color: #83969f;
}

.footer-ul-icon{
    background-color: #303d4c;
    letter-spacing: 10px;
    padding: .5em;
}

.footer-li-icon{
    display: inline-block;
}

.icon-footer{
    font-size: 1.5em;
    color: white;
}

.icon-footer:hover{
    color: #58c4c4;
}

@media screen and (min-width: 780px){

    .header-principal-img{
        top: 3%;
        left: 0;
    }

    .header-principal-nav{
        position: absolute;
        width: 50%;
        background-color: transparent;
        text-align: center;
        left: 50%;
        padding-top: 15px;
        padding-bottom: 0;
        top:0;  
    }
    
    .header-principal-nav a:hover{
        background-color: #ddcee2;
    }

    .header-principal{
        height: 68px;
    }

    .header-principal-nav a{
        color: #713a84;
    }

    .header-principal-nav ul li{
        display: inline-block;
    }

    .section-top, .container-top{
        background: #612674;
        height: 260px;

    }

    .main-principal-section-h1, .main-principal-section-h2{
        color: #FFFFFF;
    }

    .section-top-img-780px{
        display: inline-block;
        width: 35%;
        height: 35%;
    }

    .article-section-02{
        width: 45%;
        margin: 2%;
        display: inline-block;
    }

    .article-07, .article-08{
        position: relative;
        height: 160px;
    }

    .btn-02, .btn-03{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .footer{
        height: 185px;
    }
}

@media screen and (min-width: 1000px){
        
    .section-top{
        background-image: url(../images/bg_topo_1198x670.jpg);
        height: 610px;
        background-size: cover;
    }

    .container-top{
        position: absolute;
        bottom: 50px;
        width: 80%;
        left: 10%;
        background: transparent;
    }

}

    @media screen and (min-width: 1024px){

        .section-top{
            background-image: url(../images/bg_topo_1600x1374.jpg);
            height: 785px;
            margin: 0;
            padding: 0;
            background-position: top;
        }

        .container-top{
            bottom: 160px;
        }

        .article-section-02{
            width: 22%;
            margin: 1%;
        }

        .btn-02 {
          right: 75%;
        }

        .btn-03 {
            right: 78%;
          }

        .article-07, .article-08{
            height: 200px;

        }
            
        .article-section-03{
            display: inline-block;
            width: 45%;
            margin: 2%;
            text-align: left;
        }

        .footer{
            height: 145px;
        }
    }



